@model IEnumerable<MedicalAppointmentMVC.Models.Appointment>

@{
    ViewBag.Title = "MyAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>My Appointments</h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Doctor_Detail.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patient_Detail.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end_date_time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor_Detail.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient_Detail.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.start_date_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_date_time)
        </td>
    </tr>
}

</table>
