@model IEnumerable<MedicalAppointmentMVC.Models.Doctor_Detail>

@{
    ViewBag.Title = "Index";
}

<h3>Doctor's</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.first_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cellno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.med_practice_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specialization)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cellno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.med_practice_no)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specialization)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.doctor_id }) |
        </td>
    </tr>
}

</table>
