@model MedicalAppointmentMVC.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Doctor_Detail.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor_Detail.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient_Detail.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient_Detail.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.app_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
